/*
PageAdmin内置框架样式
    原top背景色：#5EC7B2 现背景色：#2b80ff
    原left选中背景色：#54B09E  现在#1570F8
*/
@import url(comm.css);
@import url(diy.css);
@import url(/e/css/focus.css);

/*网站基础样式*/

html{-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,th,td,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0px;padding:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display: inline;*zoom:1;}
body{word-wrap:break-word;text-align:center;font:12px/1.8 Tahoma,Verdana,Arial,\5b8b\4f53;color:#333333;}

input,select,textarea,button{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img{border-style: none;
    border-color: inherit;
    border-width: 0;
    width: auto;
    float:left;
}
li{list-style:none;*margin-left:-1px}
.left{float:left}
.right{float:right}
.clear{display:block;clear:both;font-size:0px;height:0px;line-height:0px;width:0px;margin:0px;padding:0px;overflow:hidden}
a{color:#333333;text-decoration:none;}
a:hover{text-decoration:underline;}
.page_style{text-align:center;background-color:#ffffff;}

/*顶部及主菜单样式*/
.top_box{clear:both;border:0 solid #cccccc;height:106px;}
.top_box_inner{width:1200px;margin:0px auto;position:relative;}
.top_box .logo{text-align:left;height:auto;width:auto;overflow:auto;margin-bottom: 10px;}
.top_box .topcontent{clear:both;height:38px;width:100%;position:absolute;top:0px;left:0px;display:none;}


.menu_box{float:left;text-align:left;height:40px;width:auto;background: #E7E7E6}
.menu_style_homepage{float:left;width:120px;text-align:center;}
.menu_style{float:left;width:120px;text-align:center;}

a.menu{display:block;color:#666;text-decoration:none;font-weight:normal;font-size:14px;line-height:40px;}
/*a.menu:hover{color:white;text-decoration:none;background:#2b80ff;}*/
#Menu ul a.menu:hover{color:white;text-decoration:none;background:#2b80ff;}

.menu_current a.menu{font-weight:bold;background:#2b80ff;color:white;}


/*banner样式*/
.banner{clear:both;position:relative;z-index:5;}
.smallbanner{clear:both;padding: 0 0 0 0;margin:0 0 0px 0;text-align:left}

/*网站主体框架样式*/

.page_l61 .main_box_style{clear:both;width:100%;background:url(images/png_bg.png);overflow:hidden;}
.main_box_style {clear:both;width:1200px;margin:0px auto;background:url(images/png_bg.png);overflow:hidden;}

.main_box_style1{clear:both;margin:0px 0 0 0;overflow:hidden;overflow:hidden;}
.main_box_style1 .main_box_inner{width:1200px;margin:0px auto;}
.main_box_style1 .main_box_inner_left{float:left;width:250px;margin:0 10px 0 0;padding:0 0 0 0;overflow:hidden;text-align:left;}
.main_box_style1 .main_box_inner_right{float:right;width:740px;margin:0 0 0 0;overflow:hidden;text-align:left;background:url(images/left-bg.jpg) no-repeat 8px 30px;}

.main_box_style2{clear:both;margin:0px 0 0 0;overflow:hidden;overflow:hidden;}
.main_box_style2 .main_box_inner{width:1200px;margin:0px auto;}
/*.main_box_style2 .main_box_inner_left{float:left;width:740px;margin:0 10px 0 0;overflow:hidden;text-align:left;background:url(images/left-bg.jpg) no-repeat 8px 30px;}*/
.main_box_style2 .main_box_inner_left{float:left;width:740px;margin:0 10px 0 10px;overflow:hidden;text-align:left;}
/*.main_box_style2 .main_box_inner_right{float:right;width:250px;margin:0 0 0 0;padding:0 0 0 0;overflow:hidden;text-align:left;}*/
.main_box_style2 .main_box_inner_right{float:left;width:200px;margin:0 0 0 0;padding:0 0 0 0;overflow:hidden;text-align:left;}


.main_box_style3{clear:both;margin:5px 0 0 0;overflow:hidden;background:url(images/lanmu_nav_bg.gif) repeat-y left top;}
.main_box_style3 .main_box_inner_left{float:left;width:210px;margin:0 10px 0 0;overflow:hidden;text-align:left;border:0 solid #cccccc;border-width:1px 0 0 0;}
.main_box_style3 .main_box_inner_middle{float:left;width:460px;margin:0 0 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_right{float:right;width:210px;margin:0 0 0 10px;overflow:hidden;text-align:left;}


/*导航样式*/
#nav_128{margin:0px;padding:0px;}

.nav_box{clear:both;width:100%;margin:0 0 10px 0;padding-bottom:15px;position:relative;z-index:7;}
.nav_title{font-weight:bold;height:46px;text-align:left;color:#333333;background:url(images/sonp.png) no-repeat left -80px;}
.nav_sign{float:left;text-align:left;color:white;font-size:27px;height:46px;line-height:46px;padding-left:20px;}
.nav_more{float:right;font-weight:normal;padding:8px 10px 0 10px;}
.nav_more a{font-size:10px;line-height:15px}
.nav_header{text-align:left;}

.nav_content{text-align:left;}

.nav_menu{text-align:left;padding:20px 0 0 0}

.nav_menu ul{padding:0px 0px 0px 0px;}
.nav_menu ul li{clear:both;text-align:left;padding:0px 0px 0px 0px;}
/*.nav_menu ul li a{display:block;line-height:63px;width:250px;text-align:center;font-size:13px;background:#2b80ff;border-bottom:1px #459D8C dotted;color:white;font-weight:bold;}*/
/*.nav_menu ul li a{display:block;line-height:63px;width:200px;text-align:center;font-size:13px;background:#2b80ff;border-bottom:1px #459D8C dotted;color:white;font-weight:bold;}*/
.nav_menu ul li a{display:block;/* line-height:63px; */width:200px;text-align:left;font-size:13px;background: white;border-bottom: 1px #ccc dotted;color: #000;/* font-weight:bold; */}
/*.nav_menu ul li a:hover{color:white;text-decoration:none;background:#1570F8;}*/
.nav_menu ul li a:hover{color: #bb0000;}
.nav_menu ul li a.current{color:white;}
.nav_menu ul li a.current:hover{color:white;}
.nav_menu a.menu.action{background:url(../images/more.png) no-repeat 95% center;color:#bb0000;}

.nav_menu ul li ul li{clear:both;text-align:left;background-image:none;padding:5px 0px 0px 0px;}
.nav_menu ul li ul li a{line-height:25px;font-size:12px;background:none;border-bottom:#CCC 1px dotted;}
.nav_menu ul li ul li a:hover{color:#cc0000;}


.nav_menu ul li ul li ul{padding:0 0 0 0px;}
.nav_menu ul li ul li span.node{float:left;height:20px;width:15px;cursor:pointer;background:url(images/node_open.gif) no-repeat 0 center;}
.nav_menu ul li ul li span.node_close{float:left;height:20px;width:15px;cursor:pointer;background:url(images/node_close.gif) no-repeat 0 center;}
.nav_menu ul li ul li span{float:left;height:20px;width:15px;background:url(images/subnav.gif) no-repeat 0 center;display:none;}

/*模块样式*/
#module_193{margin:10px 0px 15px 0px;}
#module_195{background:#F5F5F5;padding:15px 0px 20px 0px;}


.module_box{clear:both;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}                 /*模块整行布局样式*/
.module_box_layout_left{float:left;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}  /*模块左布局样式*/
.module_box_layout_right{float:right;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}   /*模块右布局样式*/

.module_box_inner{clear:both;text-align:left;padding:5px 0 5px 0;border:0px solid #cccccc;overflow:hidden;}/*模块内层容器样式*/
.module_box_layout_left .module_box_inner{clear:both;text-align:left;margin:0 10px 0 0;padding:5px 0 5px 0;} /*模块居左时重写内层样式*/

.module_title{height:45px;text-align:left;background:url(images/m-d.jpg) repeat-x right center white;}

.module_sign{float:left;text-align:left;font-weight:bold;font-size:26px;color:#5A5A5A;background:white;line-height:45px;padding-right:10px;}
.module_more{float:right;font-weight:normal;padding:8px 10px 0 10px;}
.module_more a{font-size:10px;line-height:15px}

.module_content{padding:5px 0px;text-align:left;}

.module_footer{clear:both;height:1px;overflow:hidden;background-color:#cccccc;display:none}
.module_footer .l{float:left;}
.module_footer .r{float:right}

/*子栏目样式*/
.lanmupage .current_location{display:none}
.current_location{clear:both;text-align:left;height:60px;border-bottom:1px #CCC dotted;overflow:hidden;}
.current_location_1{float:left;line-height:90px;color:#666;font-size:14px;display:none;}
.current_location_1 a{color:#666;font-size:14px;}
.current_location_2{float:left;line-height:80px;font-size:26px;font-weight:bold;padding-left:35px;}

.sublanmu_box{text-align:left;padding:0px 15px 0px 35px;}
.sublanmu_content{text-align:left;padding:10px 0 0 0;}
.sublanmu_content_introduct{line-height:2.0;font-size:1.1em}
.sublanmu_content_introduct p{margin-bottom:10px;min-height:10px}

.sublanmu_page{clear:both;text-align:center;margin:15px 0 10px 0;font-size:12px;font-family:宋体;}
.sublanmu_page a{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 8px 2px 8px;border:1px solid #cccccc;}
.sublanmu_page span.c{border:0px solid #cccccc;border-color:#999999;font-weight:bold;padding:0 2px 0 2px;}

.sublanmu_pn{font-size:13px;margin:15px 0 5px 0}
.sublanmu_pn li{color:#D33506}

/*评论*/
.comments_box{text-align:left;border:1px solid #cccccc;margin:10px 5px 10px 10px;}
.comments_box .title{padding:2px 0 0 10px;height:20px;font-weight:bold;background-color:#ececec}
.comments_box ul li{padding:5px 0 5px 25px;}
.comments_box .textarea{width:520px;height:100px;border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}

.comments_list{padding:5px 5px 0 10px;border:0px solid #cccccc;overflow:hidden}
.comments_list .title{display:block;padding:2px 0 3px 5px;height:18px;width:100%;font-weight:bold;}
.comments_list .item{clear:both;margin:0 0 10px 0;overflow:hidden}
.comments_list .header{padding:3px 0 0 10px;height:22px;background-color:#eeeeee}
.comments_list .header .floornum{font-size:12px;font-style:Italic;font-weight:bold}
.comments_list .header .left{float:left}
.comments_list .header .right{float:right;padding-right:10px}
.comments_list .quote{display:block;color:#999999;padding:5px 5px 5px 10px;border:1px solid #ececec}
.comments_list .content{padding:5px 5px 5px 15px}
.comments_list .reply{background:url(public/reply.gif) no-repeat 5px 5px;border:1px dashed #cccccc;padding:2px 5px 2px 25px;margin:2px 0 5px 0;color:#D33506}

.comments_page{clear:both;vertical-align:middle;text-align:right;background-color:#ffffff;margin:10px 0 10px 0;font-family:宋体;}
.comments_page a{height:15px;line-height:15px;vertical-align:middle;zoom:1;padding:2px 8px 2px 8px;border:1px solid #cccccc;font-size:12px}
.comments_page span{vertical-align:middle;padding:2px 3px 2px 3px;font-weight:bold;font-size:12px}

/*bottom样式*/
.bottom_box{clear:both;text-align:center;height:30px;padding:0 0 0 0;line-height:30px;color:#333; position:fixed;bottom:0px;width:100%;background:#FFFFFF}
.bottom_box a{color:#000}
.bottom_box a:hover{color:#000;text-decoration:none;}

/*登陆界面*/
.loginbox_item{height:20px;padding:0 0 0 0;padding:0 5px 5px 0;text-align:left;font-size:9pt;}
.loginbox_textbox{width:100px;height:15px;border:0 solid #CCCCCC;border-width:1px 1px 1px 1px}
.loginbox_textbox_yzm{width:40px;height:15px;border:0 solid #CCCCCC;border-width:1px 1px 1px 1px}
.loginbox_submit{width:60px;height:20px;border:0 solid #333333;border-width:0 1px 1px 0;background-color:#dddddd;cursor:pointer;}
a.logined_href:link{font-size:9pt;color:#FF0000;text-decoration:underline}
a.logined_href:visited{font-size:9pt;color:#FF0000;;text-decoration:underline}
a.logined_href:hover{font-size:9pt;color:#FF0000;text-decoration:underline}
